<h1>Usuarios Que Más Veces Han Comentado</h1>
<mat-divider></mat-divider>

<br>

<table mat-table [dataSource]="reportes">
  <!-- Columna de Índice -->
  <ng-container matColumnDef="No.">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let reporte; let i = index">{{ i + 1 }}</td>
  </ng-container>
  <!-- Columna de Estado -->
  <ng-container matColumnDef="Usuario">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let reporte">{{ reporte.nickname | titlecase }}</td>
  </ng-container>
  <!-- Columna de Estado -->
  <ng-container matColumnDef="Cantidad de Comentarios">
    <th mat-header-cell *matHeaderCellDef>Cantidad de Comentarios</th>
    <td mat-cell *matCellDef="let reporte">{{ reporte.countComments }}</td>
  </ng-container>
  <!-- Agregar las columnas a la tabla -->
  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>

